@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Uppgift4.Models.Channel>

<div class="sections clearfix">
    <section>
        <ul id="channel1" class="pictures">
            <li><img src="../../Content/img/svt.png" alt="Sveriges television"></li>
            @for (int i = 0; i < 5; i++)
            {
                <li><a href="#">@Model[i].startTime - @Model[i].endTime | @Model[i].name | @Model[i].showType</a></li>
            }
        </ul>
    </section>
    <section>
        <ul id="channel2" class="pictures">
            <li><img src="../../Content/img/tv3.png" alt="Tv 3"></li>
            @for (int i = 5; i < 10; i++)
            {
                <li><a href="#">@Model[i].startTime - @Model[i].endTime | @Model[i].name | @Model[i].showType</a></li>
            }
        </ul>
    </section>
    <section>
        <ul id="channel3" class="pictures">
            <li><img src="../../Content/img/tv4.png" alt="Tv 4"></li>
            @for (int i = 10; i < 15; i++)
            {
                <li><a href="#">@Model[i].startTime - @Model[i].endTime | @Model[i].name | @Model[i].showType</a></li>
            }
        </ul>
    </section>
    <section>
        <ul id="channel4" class="pictures">
            <li><img src="../../Content/img/tv5.png" alt="Tv 5"></li>
            @for (int i = 15; i < 20; i++)
            {
                <li><a href="#">@Model[i].startTime - @Model[i].endTime | @Model[i].name | @Model[i].showType</a></li>
            }
        </ul>
    </section>
</div>