@model Uppgift4.Models.user_channel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Är du säker på att du vill ta bort kanalen ur din lista?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.channel.channel_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.channel.channel_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Backa", "LoggedIn")
        </div>
    }
</div>
