<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/stilmall.css")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    <title>TvGuiden.Nu</title>
</head>
<body>
    <header>
        <h1>TvGuiden.nu</h1>
    </header>
    <nav>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only" src="Content/img/menu.png">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "ChannelProgramDetails")">Hem</a></li>
                    <li><a href="#">Om oss</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Läs mer</a></li>
                    <li><a href="@Url.Action("Login", "Account")">Min sida</a></li>
                    <li><a class="button" href="#popup1">Populärt (3)</a></li>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>Missa inte dessa program</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">
                                Rapport ikväll 19:00 på SVT
                            </div>
                            <div class="content">
                                Sportnytt ikväll 20:00 på SVT2
                            </div>
                            <div class="content">
                                Idol Sverige ikväll 20:00 på TV4
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <input type="text" id="myInput" placeholder="Sök" onkeyup="searchChannel1(), searchChannel2(), searchChannel3(), searchChannel4(), searchChannel5()">
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer>
        <h3>tvguiden@hotmail.com</h3>
    </footer>
    <script>
        function searchChannel1() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("channel1");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        }
        function searchChannel2() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("channel2");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        }
        function searchChannel3() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("channel3");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        }
        function searchChannel4() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("channel4");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        }
        function searchChannel5() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("channel5");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                }
                else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>